#parse("/frame/head.vm")



<div id="content" class="content">
			 
			<!-- begin page-header -->
			<h1 class="page-header">  $!{data.proEntity.pname} 接口文档</h1>
			<small>版本号 $!{data.proEntity.pversion}</small>
			<!-- end page-header -->
			
		 
			<div class="pull-right">
				<button type="button" class="btn btn-primary m-r-5 m-b-5">
				<i class="fa fa-book"></i>
				导出到word文档</button>
			</div>
			<!-- begin row -->
			
			 #foreach($obj in $data.iList)
			<div class="row">
			    <!-- begin col-12 -->
			    <div class="col-md-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">$!{obj.iEntity.iname} 参数列表</h4>
                        </div>
                        <div class="panel-body">
							
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>序号</th>
											<th>参数名称</th>
											<th>参数代码</th>
											<th>默认值</th>
										</tr>
									</thead>
									<tbody>
									   #foreach($obj1 in $obj.iList)
										<tr>
											<td>$velocityCount</td>
											<td>$!obj1.paName</td>
											<td> $!obj1.paCode</td>
											<td>$!obj1.paValue</td>
										</tr>
									 #end
									</tbody>
								</table>
							</div>
						</div>
					</div>
                    <!-- end panel -->
			    </div>
			    <!-- end col-12 -->
			</div>
			 #end
			<!-- end row -->
		</div>
	#parse("/frame/tail.vm")	
		